<svg id="scene" height="350" width="1000"  d>
    <circle id='earth' cx="-75" cy="175" r="175"/>
    <!-- <line id="string" x1="0" y1="175" x2="800" y2="175" stroke="brown" stroke-width="4" /> -->
    <circle fill='red' id="10Mm" cy="175" cx="150" r=""/> 
    <circle fill='orange' id="20Mm" cy="175" cx="250" r=""/> 
    <circle fill='yellow' id="30Mm" cy="175" cx="350" r=""/> 
    <circle fill='green' id="40Mm" cy="175" cx="450" r=""/> 
    <circle fill='blue' id="50Mm" cy="175" cx="550" r=""/> 
    <circle fill='black' id="#50Mmp" cy="175" cx="600" r=""/> 
</svg>